*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/filbert_logo.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    background: #191919;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}
.logo{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #2c5eb5;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul{
    margin-left: auto;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #2c5eb5;
    transition: .4s;
}
.btn{
    background-color: #2c5eb5;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #fff;
    margin: 20px 0pc 20px;
    font-size: 75px;
}
h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #cce0ffcc;
    letter-spacing: 2px;
    font-size: 20px;
}   
p{
    color: #cce0ffcc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background: #191919;
}
.about img{
    width: 430px;
    height: auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.card .button{
    background-color: #2c5eb5;
    padding: 9px 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #2c5eb5;
    cursor: pointer;
}
.about-text h2{
   color: #fff;
   font-size: 75px;
   text-transform: capitalize;
   margin-bottom: 20px;
}
.about-text h5{
   color: #fff;
   letter-spacing: 2px;
   font-size: 22px;
   margin-bottom: 25px;
   text-transform: capitalize;
}
.about-text p{
   color: #cce0ffcc;
   letter-spacing: 1px;
   line-height: 28px;
   margin-bottom: 45px;
   font-size: 18px;
}
button{
   border: 2px solid transparent;
   background-color: #2c5eb5;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   padding: 13px 30px;
   border-radius: 30px;
   transition: .4s;
}
button:hover{
   background-color: transparent;
   border: 2px solid #2c5eb5;
   cursor: pointer;
}  
.service{
   width: 100%;
   padding: 100px 0px;
   background: #101010;
}
.title h2{
   text-align: center;
   color: #fff;
   font-size: 75px;
   margin: 30px auto;
}
.box{
   display:flex;
   justify-content: center;
   align-items: center;
   min-height: 400px;
}
.card{
   width: 335px;
   height: 365px;
   padding: 20px 30px;
   background: #191919;
   border-radius: 20px;
   margin: 15px;
   position: relative;
   overflow: hidden;
   text-align: center;
}
.card i{
   font-size: 50px;
   display: block;
   text-align: center;
   margin: 25px 0px;
   color: #2c5eb5;
}
h5{
   color: #fff;
   font-size: 23px;
   margin-bottom: 15px;
}
.pra p{
   color: #cce0ffcc;
   font-size: 16px;
   line-height: 27px;
   margin-bottom: 25px;
}